<f:layout name="Backend"/>

<f:section name="ActionMenu"/>

<f:section name="IconButtons"/>

<f:section name="Headline">
    <h1>
        <f:translate key="admin">Instagram administration</f:translate>
    </h1>
</f:section>

<f:section name="Content">
    <f:if condition="{error}">
        <f:then>
            <f:translate key="error">An error has occured contacting the Instagram API. The error message is: {errorMessage}</f:translate>
        </f:then>
        <f:else>
            <f:translate key="popup">Please wait for the popup to appear to allow TYPO3 access to your instagram account. Make sure popups are not being blocked.</f:translate>
            <script type="text/javascript">
                window.open('{url}');
            </script>
        </f:else>
    </f:if>
</f:section>