<f:layout name="Frontend"/>

<f:section name="Content">
    <f:if condition="{invalidConfiguration}">
        <f:then>
            <f:translate key="plugin.invalid_configuration"/>
        </f:then>
        <f:else>
            <f:if condition="{error}">
                <f:then>
                    <f:translate key="plugin.error"/>
                </f:then>
                <f:else>
                    <ul>
                        <f:for each="{data}" as="entry">
                            <li>
                                <a class="instagram-gallery" rel="instagram" title="{entry.link}" href="{entry.images.standard_resolution.url}">
                                    <figure>
                                        <img src="{entry.images.thumbnail.url}" width="{entry.images.thumbnail.width}" height="{entry.images.thumbnail.height}"/>
                                        <figcaption>{entry.caption.text}</figcaption>
                                    </figure>
                                </a>
                            </li>
                        </f:for>
                    </ul>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:section>